#Установка переменных окружения для ClickHouse
ES_SERVER="http://elasticsearch:9200"
ES_USER=default
ES_PASSWORD=
ES_DATABASE=tjournal

# Список событий которые планируется выгружать.
EVENT_LIST="EXCP,EXCPCNTX,TLOCK,TTIMEOUT,SDBL,QERR"
